.movieContainer {
    padding: 20px;
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 25px;
    overflow-y: auto;
    height: 88vh;
    background-color: #222222;
  }