.card {
    box-sizing: border-box;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
}

.card > img {
    height: 60vh;
    max-width: 100%;
    cursor: pointer;
    /* border-radius: 7px; */
}