.card {
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(117 117 117);
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 20vw;
}

.card > img {
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.card:hover {
    box-shadow: 5px 5px 10px #f8a236;
}