header {
    align-items: center;
    background-color: #094725;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;

}

.logo {
    height: 5vh;
}