header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black;  */
    height: 7vh;
    background-color: #12713D;
    padding: 10px 20px;
}

.logo {
    height: 5vh;
}

.dropdown {
    height: 50%;
}

li {
    padding: 10px;
    transition: transform 750ms;
    will-change: transform;
}
li:hover,
li:focus {
    padding: 10px;
    cursor: pointer;
    transform: translateY(-10px);
}

ul {
    display: flex;
    list-style: none;
}
